@charset "utf-8";

#History>header{
    width: 100%;
    height: 800px;
    margin-bottom: 30px;
    background: url("/image/lg/main_lg3.png") no-repeat center;
    background-size: cover;
    position: relative;
}

/* 탭메뉴 버튼 */
.tabBtn{
    /* width: 1452px; */
    padding: 20px 0;
    margin: 0 auto 80px;
    overflow: hidden;
    background-color: #fff;
    position: sticky;
    left: 0; top: 0;
    z-index: 100;
}
.tabBtn>ul{
    width: 740px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.tabBtn>ul>li{
    text-align: center;
    line-height: 45px;
    color: #656565;
    border: 1px solid #f1f1f1;
    border-radius: 25px 25px;
    box-sizing: border-box;
    background-color: #f1f1f1;
}
.tabBtn>ul>li>a{
    padding: 0 20px;
}

/* 연혁 페이징 버튼 */
.pagingBtn{
    width: 76.421052631578947%;
    /* width: 1440px; */
    margin: 0 auto 15px;
    overflow: hidden;
}
.pagingBtn>ol{
    float: right;
    position: relative;
}
.pagingBtn>ol::before{
    display: block;
    content: '';
    width: 168px;
    border-top: 1px solid #dedede;
    position: absolute;
    left: 30px; top: 6px;
    z-index: -1;
}
.pagingBtn>ol li{
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #af0046;
    float: left;
    cursor: pointer;
}
.pagingBtn>ol li::before{
    display: block;
    content: "";
    width: 12px;
    height: 12px;
    margin: 0 auto 14px;
    border-radius: 50%;
    background-color: #af0046;
}

#tab2>.pagingBtn>ol::before{
    width: 115px;
}
#tab3>.pagingBtn>ol::before{
    width: 230px;
}

/* 연혁 공통 */
#tab1, #tab2, #tab3{
    width: 100%;
    margin-bottom: 0;
    display: none;
    position: relative;
}
section>h4, section h4 + p{
    width: 76.421052631578947%;
    /* width: 1440px; */
    margin: 0 auto;
}
section>h4{
    margin-bottom: 27px;
}
section h4 + p{
    margin-bottom: 50px;
}
section>div:nth-child(4){
    width: 100%;
    overflow: hidden;
}
section>div:nth-child(4)>ol{
    width: 11290px;
    height: 720px;
    padding: 50px 0 0 230px;
    box-sizing: border-box;
    background: url("/image/lg/history_bg.png") repeat-x left center;
    overflow: hidden;
}
/* 너비값 정리 */
#tab2>div:nth-child(4)>ol{
    width: 10500px;
}
#tab3>div:nth-child(4)>ol{
    width: 17470px;
}
section>div:nth-child(4)>ol li{
    float: left;
    height: 100%;
    position: relative;
}
section>div:nth-child(4)>ol li>dl{
    padding-left: 18px;
    border-left: 2px solid #af0046;
}
section>div:nth-child(4)>ol li>dl>dt{
    margin-bottom: 27px;
    font-size: 27px;
    font-weight: bold;
    color: #af0046;
}
/* up */
.up_H{
    width: 470px;
    height: 100%;
    position: relative;
}
.up_H dl{
    position: absolute;
    left: 0; bottom: 360px;
}
.up_H dl>dd{
    padding-bottom: 12px;
}
.up_H dl>dd:last-child{
    padding-bottom: 30px;
}
/* down */
.down_H{
    padding-top: 310px;
}
.down_H dl>dt{
    padding-top: 30px;
}
.down_H dl>dd{
    padding-bottom: 12px;
}
.down_H dl>dd:last-child{
    padding-bottom: 1px;
}



section>div>ol li>dl>dd>img{
    width: 220px;
}
section>div>ol li>dl>dd>img:first-child{
    margin-right: 10px;
}


/* 스크롤 */
.scrollBar{
    width: 480px;
    position: absolute;
    left: 50%; bottom: 15px;
    transform: translateX(-50%);
}
.scrollBar>div{
    width: 100%;
    height: 15px;
    margin: 0 auto;
    border: 3px solid #eee;
    border-radius: 20px;
    background-color: #eee;
    position: relative;
}
.scrollBar>div>span{
    width: 80px;
    height: 15px;
    border-radius: 20px;
    background-color: #af0046;
    position: absolute;
    left: 0; top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}