@charset "utf-8";

#Recruit>header{
    width: 100%;
    height: 800px;
    margin-bottom: 100px;
    background: url("/image/main_carrer.png") no-repeat center;
    background-size: cover;
    position: relative;
}

/*  */
#Recruit>section:nth-child(2){
    width: 100%;
    margin-bottom: 0;
}
#Recruit>section:nth-child(2)>h4{
    text-align: center;
    line-height: 83px;
}
#Recruit>section:nth-child(2)>p{
    width: 100%;
    padding-top: 450px;
    margin-bottom: 100px;
    text-align: center;
    background: url("/image/lgti.png") no-repeat center top;
}

/* lgti 테스트 */
#Recruit>section:nth-child(2)>div{
    width: 100%;
    padding: 100px 0 80px;
    background-color: #f1f1f1;
}
#Recruit>section:nth-child(2)>div>div{
    width: 550px;
    margin: 0 auto;
    overflow: hidden;
}
#Recruit>section:nth-child(2)>div>div>ul{
    width: 4950px;
    overflow: hidden;
    margin-bottom: 85px;
}
#Recruit>section:nth-child(2)>div>div>ul li{
    width: 550px;
    float: left;
}

#Recruit>section:nth-child(2)>div>div>ul li>dl>dt{
    margin-bottom: 100px;
    padding-left: 5px;
    font-size: 27px;
    font-weight: bold;
    line-height: 45px;
}
#Recruit>section:nth-child(2)>div>div>span{
    display: block;
    margin-bottom: 12px;
    padding-left: 6px;
    font-size: 18px;
    color: #af0046;
}
#Recruit>section:nth-child(2)>div>div>ul li>dl>dd{
    width: 100%;
    margin-bottom: 15px;
    text-indent: 25px;
    line-height: 48px;
    border: 1px solid #fff;
    border-radius: 25px 25px;
    box-sizing: border-box;
    background-color: #fff;
}
/* 다음 페이지 버튼 */
#Recruit>section:nth-child(2)>div>div>p{
    width: 120px;
    margin: 0 auto;
    text-align: center;
    line-height: 60px;
    border-radius: 30px 30px;
    color: #656565;
    background-color: #dedede;
    cursor: pointer;
}


/* lgti 결과 모닫창 */
#lgtiModal{
    width: 500px;
    padding: 50px 0;
    border: 5px solid #af0046;
    text-align: center;
    background-color: #fff;
    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
#lgtiModal>h4{
    font-size: 36px;
    padding-top: 220px;
    background: url("/image/lgti_modal.png") no-repeat center top;
    background-size: 40%;
}
#lgtiModal>p{
    width: 100%;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 27px;
}
#lgtiModal>ul:nth-child(3){
    width: 200px;
    margin: 0 auto 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#lgtiModal>ul:nth-child(3) li>a{
    display: block;
    width: 36px;
    height: 36px;
    text-indent: -99999px;
    background: url("/image/modal_facebook.png") no-repeat center top;
    background-size: cover;
}

#lgtiModal>ul:last-child{
    width: 330px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#lgtiModal>ul:last-child li{
    width: 150px;
    line-height: 60px;
    text-align: center;
    color: #656565;
    border-radius: 30px 30px;
    background-color: #dedede;
}
#lgtiModal>ul:last-child li:last-child{
    color: #fff;
    background-color: #af0046;
}

/* 이미지 정리 */
#lgtiModal>ul:nth-child(3) li:nth-child(2)>a{
    background: url("/image/modal_insta.png") no-repeat center top;
    background-size: cover;
}
#lgtiModal>ul:nth-child(3) li:nth-child(3)>a{
    background: url("/image/modal_kakao.png") no-repeat center top;
    background-size: cover;
}
#lgtiModal>ul:nth-child(3) li:nth-child(4)>a{
    background: url("/image/modal_linkcopy.png") no-repeat center top;
    background-size: cover;
}